 html {
     scroll-behavior: smooth;
     overflow-x: hidden;
 }

 body {
     font-family: 'Karla', sans-serif;
     overflow-x: hidden;
 }

 /* Read More */
 #more {
     display: none;
 }

 /* Placeholder */

 ::placeholder {
     color: #2E4057;
 }

 /* Chevron */
 .chevron-up {
     position: fixed;
     bottom: 5%;
     right: 5%;
     z-index: 100;
 }

 /* Animation */

 .section2 {
     animation-duration: 5s;
     animation-delay: 2s;
 }

 .section3 {
     animation-duration: 5s;
     animation-delay: 2s;
 }

 .section4 {
     animation-duration: 5s;
     animation-delay: 2s;
 }

 .section5 {
     animation-duration: 5s;
     animation-delay: 2s;
 }

 .section6 {
     animation-duration: 5s;
     animation-delay: 2s;
 }

 .social-footer {
     animation-duration: 2s;
     animation-delay: 1s;
 }

 /* Media Query */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

     .rnd,
     .rn2 {
         column-count: 1;
     }

     .first_scale h1 {
         font-size: 60px;
     }

     .see-how {
         font-size: 50px;
     }

     .img1 {
         height: 35vh;
     }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

     .rnd,
     .rn2 {
         column-count: 1;
     }

     .first_scale h1 {
         font-size: 65px;
     }

     .see-how {
         font-size: 52px;
     }

     .img1 {
         height: 37vh;
     }
 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

     .rnd,
     .rn2 {
         column-count: 1;
     }

     .first_scale h1 {
         font-size: 70px;
     }

     .see-how {
         font-size: 54px;
     }

     .img1 {
         height: 39vh;
     }
 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

     .rnd,
     .rn2 {
         column-count: 1;
     }

     .first_scale h1 {
         font-size: 77px;
     }

     .see-how {
         font-size: 60px;
     }

     .img1 {
         height: 40vh;
     }
 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

     .rnd,
     .rn2 {
         column-count: 1;
     }

     .first_scale h1 {
         font-size: 87px;
     }

     .see-how {
         font-size: 65px;
     }

     .img1 {
         height: 50vh;
     }
 }


 /* Cards */

 .card-text {
     color: white;
     font-weight: normal;
     font-size: 18px;
     padding: 20px;
     line-height: 2.3rem;
 }

 .card-title {
     color: white;
     font-weight: normal;
     font-size: 25px;
     line-height: 2.3rem;
 }

 .my-card {
     background-color: #028BA8;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
 }

 .rnd,
 .rnd2 {
     overflow: hidden;
     height: 550px;
     min-height: 450px;
     min-width: 250px;
     max-width: 330px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     border: none;
     padding: 15px;
 }

 .scroll-box {
     overflow-y: scroll;
     height: 400px;
     margin-bottom: 3vh;
 }


 /* Social Circle */

 .social-circle {
     height: 100px;
     width: 100px;
     margin-top: 5vh;
     margin-left: 1vw;
     box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
     border-radius: 50%;
     display: inline-block;
     background-color: white;
     padding: 6px;
     border: 4px solid black;
     margin-left: 5vh;
     margin-right: 5vh;
 }


 /* Spacing of Illustrators */

 .spacing-class {
     padding: 4vh;
 }

 /*
 .section1,
 .section2,
 .section3,
 .section4,
 .section5,
 .section6,
 .section7,
 .social-footer {
     overflow: hidden;
 }
 */

 /* Navbar */

 .fixed-top {
     position: relative;
 }


 /* Form */

 .red::placeholder {
     color: red;
 }

 input:focus {
     outline: none;
 }